.home-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hh-photo{
    border-radius: 50%;
    border: solid white 1px;
    margin: 5% 5% 5% 5%;
}

.home-title{
    text-align: left;
    font-size: 4rem;
}

.home-content{
    font-size: 1.3rem;
}

.linkedin-logo{
    width: 1.3rem;
    margin: 0 8px;
}